@model IEnumerable<electronics_shop.Models.OrderDetail>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ok</title>
</head>
<body>
 
</body>
</html>
