@{
    Layout = null;
}

<!-- HUYNH NHU 21/12 3:41 PM -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Password Reset</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Include Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-200">

    <!-- start preheader -->
    <div class="hidden" style="display: none; max-width: 0; max-height: 0; overflow: hidden; font-size: 1px; line-height: 1px; color: #fff; opacity: 0;">
        Đặt lại mật khẩu cho tài khoản của bạn
    </div>
    <!-- end preheader -->
    <!-- start body -->
    <table class="w-full" border="0" cellpadding="0" cellspacing="0">

        <!-- start logo -->
        <tr>
            <td class="text-center bg-gray-200">
                <table class="mx-auto" border="0" cellpadding="0" cellspacing="0" style="max-width: 600px;">
                    <tr>
                        <td class="p-8">
                            <a href="nvtcomputer.tech" target="_blank">
                                <img src="~/Content/images/svg/logo.svg" alt="Besnik." class="block w-24 mx-auto">
                            </a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <!-- end logo -->
        <!-- start hero -->
        <tr>
            <td class="text-center bg-gray-200">
                <table class="mx-auto" border="0" cellpadding="0" cellspacing="0" style="max-width: 600px;">
                    <tr>
                        <td class="bg-white p-8 border-t-4 border-gray-300">
                            <h1 class="text-2xl font-bold leading-10">Khôi Phục Mật Khẩu</h1>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <!-- end hero -->
        <!-- start copy block -->
        <tr>
            <td class="text-center bg-gray-200">
                <table class="mx-auto" border="0" cellpadding="0" cellspacing="0" style="max-width: 600px;">
                    <!-- start copy -->
                    <tr>
                        <td class="bg-white p-6">
                            <p class="text-base leading-6">Nhấn vào nút bên dưới để đặt lại mật khẩu tài khoản của bạn. Nếu bạn không yêu cầu đặt lại mật khẩu mới, vui lòng bỏ qua email</p>
                        </td>
                    </tr>
                    <!-- end copy -->
                    <!-- start button -->
                    <tr>
                        <td class="bg-white">
                            <table class="w-full">
                                <tr>
                                    <td class="text-center p-4">
                                        <a href="{{viewBag.Confirmlink}}" target="_blank" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-6 rounded">Đặt lại mật khẩu</a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <!-- end button -->
                    <!-- start copy -->
                    <tr>
                        <td class="bg-white p-6">
                            <p class="text-base leading-6">Nếu nút xác thực không hoạt động, hãy sao chép và dán liên kết sau vào trình duyệt của bạn:</p>
                            <p class="text-base leading-6">
                                <a href="{{viewBag.Confirmlink}}" target="_blank">{{viewBag.Confirmlink}}</a>
                            </p>
                        </td>
                    </tr>
                    <!-- end copy -->
                    <!-- start copy -->
                    <tr>
                        <td class="bg-white p-6 border-b-4 border-gray-300">
                            <p class="text-base leading-6">Thân,<br> Besnik. - Electronics shop</p>
                        </td>
                    </tr>
                    <!-- end copy -->
                </table>
            </td>
        </tr>
        <!-- end copy block -->
        <!-- start footer -->
        <tr>
            <td class="text-center bg-gray-200 p-6">
                <table class="mx-auto" border="0" cellpadding="0" cellspacing="0" style="max-width: 600px;">
                    <!-- start unsubscribe -->
                    <tr>
                        <td class="text-center py-4">
                            <p class="text-sm leading-5 text-gray-600">Nếu bạn gặp phải bất kì vấn đề hay thắc mắc nào, vui lòng liên hệ với chúng tôi qua email:<a href="mailto:ace2nd12345@gmail.com" class="text-blue-500">ace2nd12345@gmail.com</a></p>
                        </td>
                    </tr>
                    <!-- end unsubscribe -->
                </table>
            </td>
        </tr>
        <!-- end footer -->
    </table>
    <!-- end body -->

</body>

</html>
